# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Wrapper
.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# OS
.DS_Store

# Logs
*.log

# Application config
# src/main/resources/application.properties